@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    <span class="text text-danger">@ViewBag.Error</span>
}

<form method="post">
    <a href="/Admin/role" class="btn btn-outline-info  m-1"> <i class="fa-solid fa-left-long"></i> Role  Back</a>
    <a href="/Admin/User" class="btn btn-outline-success  m-1"> <i class="fa-solid fa-left-long"></i> User  Back</a>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" placeholder="Enter role name..." class="btn btn-success form-control w-100" value="" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create" />
</form>