@model Microsoft.AspNetCore.Identity.IdentityRole


<form method="post">
<a href="~/Admin/role" class="btn btn-outline-success">Back</a>
<input type="submit" class="btn btn-danger" value="delete?" />
</form>