
@model Microsoft.AspNetCore.Identity.IdentityRole


<a href="/Admin/role" class="btn btn-outline-warning w-auto m-1"> <i class="fa-solid fa-left-long"></i>  Back</a>
<h1 class="btn btn-info m-1">@Model.Name</h1>

