@model Category


<a href="/Admin/Category" class="btn btn-outline-warning w-auto m-1"> <i class="fa-solid fa-left-long"></i>Category  Back</a>
<h1 class="btn btn-dark p-2 mt-1">@Model.CategoryName</h1>
