@model Category



<form method="post">
    <a href="/Admin/Category" class="btn btn-outline-warning">  <i class="fa-solid fa-left-long"></i> Back</a>
    <a href="/Admin/Article" class="btn btn-outline-success  m-1"> <i class="fa-solid fa-left-long"></i>Article  Back</a>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input type="text" class="btn btn-info w-100" asp-for="CategoryName" value="@Model.CategoryName" />
        <span asp-validation-for="CategoryName"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Create" />
</form>
