@model Tag

<a href="/Admin/tag" class="btn btn-outline-warning w-auto m-1"> <i class="fa-solid fa-left-long"></i> Back</a>
<h1 class="btn btn-info m-1">@Model.TagName</h1>
<p class="btn btn-dark m-1">@Model.CreateDate.ToString("dddd, dd MMMM yyyy")</p>

